<!DOCTYPE html>
<html>
    <head>
        <title>Guess the country capital!</title>
        <style>
            .content {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                }
                body {font-size: 24px; font-family: Arial, Helvetica, sans-serif;}
                body>div {text-align: center;}
                .smiley {font-size: 100px;}
                .wrong {color: red;}
                .correct {color: red;}
                .footer {font-size: 16px; text-align: center;}
        </style>
    </head>
    <body>
        <div class="content">
            <div>
                <span class="wrong"></p>{{ user_capital }}</span> is not the right answer
            </div>
            <div class="smiley">&#128530;</div>
            <div>
                The capital of {{ country_name }} is <span class="correct">{{ real_capital }}</span>.
            </div>
            <p class="footer">
                Want to give it another go? Click <a href="/">here</a> to play again!
            </p>
        </div>
    </body>
</html>