<!DOCTYPE html>
<html>
    <head>
        <title>Guess the country capital!</title>
        <style>
            .content {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                }
                body {font-size: 64px; font-family: Arial, Helvetica, sans-serif;}
                .question {text-align: center;}
                .country {color: blue;}
                #guess_capital>input {font-size: 40px;}
        </style>
    </head>
    <body>
        <div class="content">
            <div class="question">
                What is the capital of... <p><apan class="country"> {{ country_name }}</span>?</p>
            </div>
            <div>
                <form id="guess_capital" method="post" action="/">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Go" />


                </form>
            </div>
        </div>
    </body>
</html>